{% extends 'maitrePageFilm.html' %}
{% block titre %}A l'Affiche{% endblock %}
{% block titre_page %}
    <center><h1>{{ uneSceance.film.titre }}</h1></center>
    <center><h3>Projection du {{ uneSceance.date|date:"d/m/Y" }} à {{ uneSceance.heure_diffusion|time:"H:i" }}</h3></center>
{% endblock %}
{% block contenu %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="{{ uneSceance.film.image }}" class="card-img-top" alt="{{ uneSceance.film.titre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ uneSceance.film.titre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ uneSceance.film.genre }}</h6>
                    <p class="card-text">{{ uneSceance.film.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informations de la séance</h5>
                    <p class="card-text">Prix du ticket : {{ uneSceance.salle.prix_ticket }}$</p>
                    <p class="card-text">Durée du film : {{ uneSceance.film.duree|time:"H:i" }}</p>
                    <p class="card-text">Places disponibles : {{ uneSceance.places_restantes }}</p>
                    <p class="card-text">Salle numéro {{ uneSceance.salle.id }}</p>
                    <p class="card-text">Billets vendus : {{ uneSceance.places_vendues }}</p>
                        <button id="reservationButton" class="btn btn-primary">Réserver</button>
                    <button id="modifierButton" class="btn btn-primary" href="{% url 'ModifierSceance' uneSceance.id %}">Modifier</button>
                    <button id="supprimerButton" class="btn btn-primary" href="{% url 'SupprimerSceance' uneSceance.id %}">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("reservationButton").addEventListener("click", function() {
        if (confirm("Êtes-vous sûr de vouloir réserver cette séance ?")) {
            window.location.href = "{% url 'reserverSceance' uneSceance.id %}";
        }
    });

    document.getElementById("modifierButton").addEventListener("click", function() {
        if (confirm("Cette action est réservée aux administrateurs. Continuer ?")) {
            window.location.href = "{% url 'ModifierSceance' uneSceance.id %}";
        }
    });

    document.getElementById("supprimerButton").addEventListener("click", function() {
        if (confirm("Cette action est réservée aux administrateurs. Continuer ?")) {
            window.location.href = "{% url 'SupprimerSceance' uneSceance.id %}";
        }
    });
</script>

{% endblock %}
