{% extends 'maitrePageFilm.html' %}
{% block titre %}A l'Affiche{% endblock %}
{% block titre_page %}{{ unFilm.titre }}{% endblock %}
{% block contenu %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <img src="{{ unFilm.image }}" class="card-img-top" alt="{{ unFilm.titre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ unFilm.titre }}</h5>
                    <p class="card-text">{{ unFilm.genre }} - {{ unFilm.duree|time:"H:i" }}</p>
                    <p class="card-text">{{ unFilm.resume }}</p>
                    <p class="card-text">Réalisateur: {{ unFilm.realisateur }}</p>
                    <p class="card-text">Technologie : {{ unFilm.technologie }}</p>
                    <p class="card-text">Date de sortie: {{ unFilm.date_sortie }}</p>
                    <button><a class="nav-link" href="/administrateur/ajoutsceance">Ajout séance</a></button>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <center><h2>Réserver une séance</h2></center>
            {% if unFilm.seance_set.all %}
            <div class="list-group">
                {% for seance in unFilm.seance_set.all %}
                <a href="{% url 'detailSceance' seance.id %}" class="list-group-item list-group-item-action {% if seance.places_restantes <= 0 %}disabled{% endif %}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ seance.heure_diffusion|time:"H:i" }} - {{ seance.places_restantes }} places</h5>
                    </div>
                    <p class="mb-1">{{ seance.date }} | {{ seance.salle.technologie }}</p>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <center><p>Aucune séance disponible pour le moment.</p></center>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.getElementById("modifierButton").addEventListener("click", function() {
        if (confirm("Êtes-vous sûr de vouloir modifier ce film ?")) {
            window.location.href = "{% url 'Modifierfilm' unFilm.titre %}";
        }
    });

    document.getElementById("supprimerButton").addEventListener("click", function() {
        if (confirm("Êtes-vous sûr de vouloir supprimer ce film ?")) {
            window.location.href = "{% url 'SupprimerFilm' unFilm.titre %}";
        }
    });
</script>

{% endblock %}
