{% extends 'maitreFilm.html' %}
{% block titre %}A l'Affiche{% endblock %}
{% block titre_page %}{{ uneSceance.film.titre }} le {{ uneSceance.date }}{% endblock %}
{% block contenu %}
    <center><h2>{{ uneSceance.salle.technologie }}</h2></center>
    <center><img src="{{ uneSceance.film.image }}" alt="" width="250px"></center>
 
    <br>
    <center>
        <h4>Prix : {{ uneSceance.salle.prix_ticket }}$</h4>
        <h4>Heure : {{ uneSceance.heure_diffusion|time:"H:i" }} H</h4>
        <h4>Durée : {{ uneSceance.film.duree|time:"H:i"}} H</h4>
        <p>Heure de fin : {{ heure_fin|time:"H:i"}} H</p>
        <p>Place disponible : {{ uneSceance.places_restantes }}</p>
        <p>Salle numero {{ uneSceance.salle.id }}</p>
        <p>Billet vendu : {{ uneSceance.places_vendues }}</p>
        {% if uneSceance.places_restantes > 0 %}
            <button id="reservationButton" class="btn btn-primary">Je réserve</button>
        {% else %}
            <p>Désolé, il n'y a plus de places disponibles pour cette séance.</p>
        {% endif %}
        <button id="modifierButton" class="btn btn-danger">Modifier</button>
        <button id="supprimerButton" class="btn btn-danger">Supprimer</button>
    </center>

    <script>
        document.getElementById("reservationButton").addEventListener("click", function() {
            if (confirm("Êtes-vous sûr de vouloir réserver cette séance ?")) {
              window.location.href = "{% url 'reserverSceance' uneSceance.id %}";
            }
        });

        document.getElementById("modifierButton").addEventListener("click", function() {
            if (confirm("Seulement pour les administrateurs !!")) {
              window.location.href = "{% url 'ModifierSceance' uneSceance.id %}";
            }
        });

        document.getElementById("supprimerButton").addEventListener("click", function() {
            if (confirm("Seulement pour les administrateurs !!")) {
              window.location.href = "{% url 'SupprimerSceance' uneSceance.id %}";
            }
        });
    </script>

</div> 
<br>

{% endblock %}
