{% extends 'maitrePageFilm.html' %}
{% block titre %}A l'Affiche{% endblock %}
{% block titre_page %}Films à l'affiche{% endblock %}

{% block contenu %}
<center><a class="nav-link" href="/administrateur/ajoutfilm">Ajout film</a></center>
<div class="container">
  <div class="row justify-content-center" id="filmsContainer">
    {% for film in films %}
    <div class="col-md-4 mb-4">
      <a href="{% url 'detailFilm' film.titre %}" class="text-decoration-none">
        <div class="card">
          <img src="{{ film.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{ film.titre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">{{ film.genre }}</h6>
            <p class="card-text">{{ film.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
