{% extends 'maitre.html' %}
{% block titre %}A Propos - Cinema{% endblock %}
{% block contenu %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">A propos</h1>
      <p>
        Bienvenue sur notre page "A propos". Nous sommes un cinéma improvisé passionné par le septième art. Notre objectif est de créer une expérience cinématographique unique pour nos spectateurs en proposant une sélection variée de films, des classiques intemporels aux dernières sorties. Nous croyons fermement au pouvoir du cinéma pour divertir, éduquer et inspirer.
      </p>
      <p>
        Notre équipe est composée de cinéphiles passionnés et dévoués qui travaillent sans relâche pour offrir à notre public une programmation exceptionnelle, des projections de qualité et un service clientèle attentif. Nous sommes fiers de créer un espace où les amateurs de cinéma peuvent se rassembler, échanger des idées et partager leur amour du grand écran.
      </p>
      <p>
        Que vous soyez un habitué de longue date ou un nouveau venu, nous vous invitons à découvrir tout ce que notre cinéma a à offrir. Consultez notre programme, assistez à une projection, participez à nos événements spéciaux et rejoignez-nous pour célébrer la magie du cinéma.
      </p>
      <p>
        Merci de votre soutien continu et de votre passion pour le cinéma. Nous sommes impatients de vous accueillir dans notre cinéma improvisé et de partager avec vous des moments inoubliables sur grand écran.
      </p>
    </div>
  </div>
</div>
{% endblock %}
